#textArea {
  width: 700px;
  height: 150px;
  font-family: 'Righteous', cursive;
  font-size: 36px;
}

#inputArea {
  width: 700px;
  height: 50px;
  font-family: 'Righteous', cursive;
}

#inputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
  font-family: 'Righteous', cursive;
}

#translationChoices {
  margin: 10px;
  font-family: sans-serif;
  font-size: 18px;
  font-family: 'Righteous', cursive;
}

#translationArea {
  width: 700px;
  height: 150px;
  font-family: 'Righteous', cursive;
  font-size: 36px;
}

#translationInputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

body {
  background-image: url(http://plusquotes.com/images/quotes-img/Free-download-abstract-minimalist-wallpaper-HD.jpg);
  background-size: 1950px;

}

div {
  color: white
}
